/* OrderBook.css */
.order-book {
    /* Add any additional styles for the order book container */
  }
  
  .order-book h1,h2,h3{
    color: white;
  }
  
  .order-book table {
    color: white;
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-book th, .order-book td {
    padding: 8px 8px 8px 8px;
    text-align: center;
  }
  
  .order-book tbody tr {
    margin-bottom: 0px;
  }

  .recent-trades {
    margin-top: 20px;
  }
  