.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .links ul {
    margin-left: 40px;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
  }
  
  .links li {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .links li:hover {
    color: green; /* Hover color */
  }
  
  .rewards{
    margin-left: 40px;
    color: green;
    font-size: 16px;
    font-weight: bolder;
  }

  .search {
    margin-left: 40px;
  }

  input[type="text"] {
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
  }

  .buttons {
    margin-left: 40px;
  }

  .button-left {
    padding: 10px 10px 10px 10px;
    background-color: #3E96FF;
    font-weight: bold;
    color:white
  }

  .button-right {
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    background-color: #3E96FF;
    font-weight: bold;
    color:white
  }

  .sidebar {
    margin-left :10px;
  }