/* App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.App {
  background-color: black;
  border: 2px solid red; 
}

.Navbar {
 
}

.chart-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.ChartTerminal {
  grid-row: span 2; 
  grid-column: span 2;
}

.SignUpTerminal {
  grid-row: span 1; 
  grid-column: span 1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .chart-row {
    grid-template-columns: 1fr; 
  }

  .ChartTerminal,
  .SignUpTerminal {
    grid-row: auto; 
    grid-column: auto; 
  }
}
